<div id="<%= dom_id concert %>">
  <p>
    <strong>Concert date:</strong>
    <%= concert.concert_date %>
  </p>

  <p>
    <strong>Audience:</strong>
    <%= concert.audience %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= concert.group %>
  </p>

</div>
